{% extends "default" %}
{% block content_wrapper %}

    <div id="avmenu">


        <ul>
            {% for menu in page.menu %}
                <li>
                    <a href="{{ site.url }}/{{ menu.slug|url_encode(true) }}" {% if menu.slug == page.slug %}class="active" {% endif %}>{{ menu.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}